* {
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

body {
    font-family: sans-serif;
    font-size: large;
    text-align: center;

    background-color: black;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
}

.title {
    font-weight: bold;
    margin-top: 16px;
    font-size: 1.3em;
}

#start-button {
    padding: 8px 16px;
    margin-top: 16px;

    font: inherit;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;

    border-radius: 16px;
}

#digits,
#no-operators {
    width: 3em;
}

.options-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.header {
    width: 100vw;
    display: flex;
}

#example-question {
    font-family: monospace;
    font-size: 2em;
    margin-top: 16px;
}

#scoreboard {
    text-align: left;
}